<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>

<body>
  <header>
    <%- include('./partials/_header') %>
  </header>
  <div class="card text-center">
    <div class="card-header">
    </div>
    <div class="card-body">
      <form action='/register' method='POST'>
        <p>Username: </p><input name='email' type='email'>
        <p>Password: </p><input name='password' type='password'>
        <p style='margin: 10px auto;'><button class='btn btn-primary' type='submit'>Register</button></p>
      </form>
    </div>
  </div>

</body>

</html>